.DS_Store
autom4te.cache
.deps
.dirstamp
config.log
config.status
Makefile
Makefile.in
configure
aclocal.m4
*~
.vscode
stamp-h1
cc_frontend
src/parser.c
src/tokenizer.c
src/parser.h
include/config.h
include/config.h.in
zjucc